# Scripts de despliegue local
*.ps1

# Archivos de configuración local / servidor
vercel.json
sitemap*.xml

# Directorios de agentes / IA
.agents/

# Archivos de sistema y editores
.DS_Store
Thumbs.db
.vscode/
.idea/

.vercel
